<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head(pageTitle=${account.username})">
        <title>Wall</title>
    </head>

    <body class='container'>
        <nav th:replace="fragments/layout :: nav"/>
        <div class="py-1"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            
                            <th:block th:if="${account.profileImage} != null">
                                <img style="width:100%" th:src="@{/images/{id}/content(id=${account.profileImage.id})}"/>
                            </th:block>
                            
                            <div class="py-2"></div>

                            <div class="h5" th:if="${myHomePage} == true">Your wall</div>
                            <div class="h5" th:text="'@' + ${account.username}"></div>
                            <div class="h7 text-muted" th:text="'Full name: ' + ${account.name}"></div>
                            
                            <div class="py-2"></div>
                            
                            <th:block th:if="${myHomePage} != true" sec:authorize="isAuthenticated()">
                                <th:block th:if="${hasBlocked}">
                                    <button class="btn-danger">This user has blocked you</button>                                    
                                </th:block>
                                <th:block th:if="${haveBlocked}">
                                    <form class="form-inline" th:action="@{/accounts/{id}/toggleBlock(id=${account.id})}" method="POST">
                                        <input class="btn btn-danger" type="submit" value="Unblock"/>
                                    </form>
                                </th:block>
                                <div th:if="${!hasBlocked && !haveBlocked}">
                                    <form class="form" th:action="@{/accounts/{id}/toggleFollowing(id=${account.id})}" method="POST">
                                        <th:block th:if="${follower} == null">
                                            <div>
                                                <input class="btn btn-primary" type="submit" value="Start following"/>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${follower} != null">
                                            <div>  
                                            <p class="text-muted small">
                                            Following user since <span th:text="${#dates.format(follower.createdOn, 'dd-MM-yyyy HH:mm')}"/>
                                            &nbsp;&nbsp;&nbsp;
                                            </p>
                                            </div>
                                            <div>
                                                <input class="btn btn-outline-primary" type="submit" value="Stop following"/>
                                            </div>
                                        </th:block>
                                    </form>
                                    <div class="py-1"></div>
                                    <div>    
                                        <form class="form-inline" th:action="@{/accounts/{id}/toggleBlock(id=${account.id})}" method="POST">
                                            <input class="btn btn-danger" type="submit" value="Block"/>
                                        </form>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        
                        
                        <ul class='list-group list-group-flush'>
                            <li class='list-group-item'>
                                <div class="h6 text-muted">Followers</div>

                                <th:block th:if="${myHomePage} == true">
                                    <a th:text="${numFollowers}" th:href="@{/followers}" class="h5">123123</a>
                                </th:block>
                                <th:block th:if="${myHomePage} != true">
                                    <div th:text="${numFollowers}" class="h5">123123</div>
                                </th:block>
                                
                            </li>
                            <li class='list-group-item'>
                                <div class="h6 text-muted">Following</div>
                                <th:block th:if="${myHomePage} == true">
                                    <a th:href="@{/followers}" th:text="${numFollowing}" class="h5">123123</a>
                                </th:block>
                                <th:block th:if="${myHomePage} != true">
                                    <div th:text="${numFollowing}" class="h5">123123</div>
                                </th:block>
                            </li>                           
                            <li class='list-group-item'>
                                <div class="h6 text-muted">Image gallery</div>
                                <th:block th:if="${myHomePage} == true">
                                    <a th:href="@{/images}" th:text="${numImages}" class="h5">123123</a>
                                </th:block>
                                <th:block th:if="${myHomePage} != true" sec:authorize="isAuthenticated()">
                                    <a th:href="@{/accounts/{id}/images(id=${account.id})}" th:text="${numImages}" id="accountgallery" class="h5">123123</a>
                                </th:block>
                                <th:block th:if="${myHomePage} != true" sec:authorize="!isAuthenticated()">
                                    <div th:text="${numImages}" class="h5">123123</div>
                                </th:block>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card" th:if="${myHomePage} == true">
                        <div class='card-header'>
                            <ul class="nav nav-tabs card-header-tabs" id='myTab' role='tablist'>
                                <li class="nav-item">
                                    <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">Post something</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/messages}" method="POST" autocomplete="off">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                        <div class="form-group">
                                            <label class="sr-only" for="message">post</label>
                                            <textarea class="form-control" id="message" rows="3" maxlength="255" placeholder="What are you thinking?" name="messageText"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-toolbar justify-content-between">
                                    <div>
                                    </div>
                                    <div class="btn-group">
                                        <button type="submit" id="postbutton" class="btn btn-primary">Post</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card" th:if="${myHomePage} != true">
                        <div class='card-body'>
                            <div class="card-text h3" th:text="'Wall of @' + ${account.username} + ' (' + ${account.name} + ')'">this is someone's wall</div>
                        </div>
                    </div>
                    <div th:each="message : ${messages}">
                        <div class="py-2"></div>
                        <div class="card">
                            <div class='card-header'>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="mr-2">
                                            <th:block th:if="${message.sender.profileImage} != null">
                                               <img class="rounded-circle" width="45" th:src="@{/images/{id}/content(id=${message.sender.profileImage.id})}" alt="">
                                            </th:block>
                                            <th:block th:if="${message.sender.profileImage} == null">
                                               <img class="rounded-circle" width="45" src="https://img.icons8.com/office/36/000000/person-male.png" alt="">
                                            </th:block>
                                        </div>
                                        <div class="ml-2">
                                            <div class="h5 m-0" th:text="'@' + ${message.sender.username}"></div>
                                            <div class="h7 text-muted" th:text="${message.sender.name}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>&nbsp;<span th:text="${#dates.format(message.sentTime, 'dd-MM-yyyy HH:mm')}"/></div>
                                <p class="card-text" th:text="${message.messageText}">
                                </p>
                            </div>

                            <div class="card-footer">
                                <form sec:authorize="isAuthenticated()" class="form-inline" th:action="@{/messages/{id}/toggleLiking(id=${message.id})}" method="POST">
                                    <div class="form-group">
                                        <button type="submit" id="likebutton" class="btn btn-primary btn-xs"><i class="fa fa-thumbs-o-up"></i> Toggle Like</button> 
                                    </div>
                                    <div class="ml-auto">
                                        <label class="text-muted" th:text="${message.numLikes}+' likes - ' + ${#lists.size(message.comments)} + ' comments'"</label>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer" th:if="${message.comments} != null">
                                <div th:if="${#lists.size(message.comments)} > 10" class="card-text">
                                    <p class="lead">Showing 10 most recent comments</p>
                                </div>
                                <div th:if="${#lists.size(message.comments)} <= 10" class="card-text">
                                    <p class="lead">Comments</p>
                                </div>
                                <div th:each="comment, iterStat : ${message.comments}" th:if="${iterStat.index >= iterStat.size-10}">
                                    <div class="row">
                                        <div class="col-1">
                                            <th:block th:if="${comment.commentingAccount.profileImage} != null">
                                                <img class="img-circle img-sm" width="30" th:src="@{/images/{id}/content(id=${comment.commentingAccount.profileImage.id})}" alt="">
                                            </th:block>
                                            <th:block th:if="${comment.commentingAccount.profileImage} == null">
                                                <img class="img-circle img-sm" width="30" src="https://img.icons8.com/office/36/000000/person-male.png" alt="">
                                            </th:block>
                                        </div>
                                        <div class="col-11">
                                            <div class="speech-bubble"> 
                                                <div class="card-text">
                                                    <strong><span th:text="'@' + ${comment.commentingAccount.username} + ' (' + ${comment.commentingAccount.name} + '): '">userName (name)</span></strong><span th:text="${comment.commentText}">commentText</span>
                                                </div>
                                            </div>
                                            <span class="small text-muted pull-right" th:text="${#dates.format(comment.commentTime, 'dd-MM-yyyy HH:mm')}">commentTime</span>
                                        </div>
                                        <div class="py-3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" sec:authorize="isAuthenticated()" th:if="${follower != null || myHomePage != null}">
                                <form th:action="@{/messages/{id}/comment(id=${message.id})}" autocomplete="off" method="POST" class="form">
                                    <div class="form-group row">
                                        <div class="col-1">
                                            <th:block th:if="${loggedInUser.profileImage} != null">
                                                <img class="img-circle img-sm" width="30" th:src="@{/images/{id}/content(id=${loggedInUser.profileImage.id})}" alt="">
                                            </th:block>
                                            <th:block th:if="${loggedInUser.profileImage} == null">
                                                <img class="img-circle img-sm" width="30" src="https://img.icons8.com/office/36/000000/person-male.png" alt="">
                                            </th:block>
                                        </div>
                                        <div class="col-8">
                                           <input class="form-control" maxlength="255" id="commentText" name="commentText" placeholder="Add a comment"/> 
                                        </div>
                                        <div class="col-3">
                                            <button type="submit" id="postComment" class="btn btn-primary btn-xs form-control"><i class="fa fa-send"></i> Post</button> 
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <p></p>
        
       <footer th:replace="fragments/layout :: footer"/>
 
    </body>    
</html>
