<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head('Followers')">
        <title>Followers</title>
    </head>

    <body class='container'>
        
        <nav th:replace="fragments/layout :: nav"/>
        <p></p>
        <h4>I'm following</h4>
        <table class="table">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Full name</th>
            </tr>
            <th:block th:each="follower : ${following}">
                <tr>
                    <td><a th:href="@{'/accounts/'+${follower.followedAccount.urlString}}" th:text="${follower.followedAccount.username}">username</a></td>
                    <td th:text="${follower.followedAccount.name}">full name</td>
                    <td><button>Block</button></td>
                </tr>
            </th:block>
        </table>
        <hr/>
        <h4>My followers</h4>
        
        <table class="table">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Full name</th>
            </tr>
            <th:block th:each="follower : ${followers}">
                <tr>
                    <td><a th:href="@{'/accounts/'+${follower.followingAccount.urlString}}" th:text="${follower.followingAccount.username}">username</a></td>
                    <td th:text="${follower.followingAccount.name}">full name</td>
                    <td><button>Block</button></td>
                </tr>
            </th:block>
        </table>
 
        <footer th:replace="fragments/layout :: footer"/>
 
    </body>
</html>
