<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head('Main page')"/>

    <body class='container'>
        
        <nav th:replace="fragments/layout :: nav"/>
        
        <div class="jumbotron">
            <h1>Old School Twitter</h1>

            <p><a th:href="@{/register}">Register</a> as new user or <a th:href="@{/login}">login</a> if you already have an account</p>
            <p>As a guest, you can also <a th:href="@{/accounts}">search</a> our users and view their walls</p>
        
            <div class="py-10"/>
        </div>        
        
        <footer th:replace="fragments/layout :: footer"/>
    </body>
</html>
