<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head('Login')">
        <title>Login</title>
    </head>
  <body class="container">
    <nav th:replace="fragments/layout :: nav"/>

    <form class="form-signin" th:action="@{/login}" method="POST">               
        <fieldset>
            <legend>Please Login</legend>
                        
            <div th:if="${errorMsg}" class="alert alert-danger" role="alert">    
                Invalid username and password.
            </div>
            <div th:if="${msg}" class="alert alert-success" role="alert" th:text="${msg}">
            </div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>        
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>    
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </fieldset>
    </form>

    <footer th:replace="fragments/layout :: footer"/>
 
    </body>
</html>